<div class="card">
    <div class="card-header">
        <h4>@CurrentMovie.Titre</h4>
    </div>
    <div class="card-body">
        <ul>
            <li>Année de sortie : @CurrentMovie.AnneeSortie</li>
            <li>Genre : @CurrentMovie.Genre</li>
            <li>Réalisateur : @CurrentMovie.Realisateur</li>
            <li>Synopsis : @CurrentMovie.Synopsis</li>
        </ul>
    </div>
</div>